In [1]:
s = "My name is {},my age is {}"

name = "Madhu"
age = 25

print(s.format(name,age))

My name is Madhu,my age is 25

In [2]:
s = "My name is {},my age is {}"

name = "Madhu"
age = 25

s = f"My name is {name},my age is {age}"
print(s)

My name is Madhu,my age is 25