In [4]:
#for loop
 for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11,3):
    print(i,end=" ")

1 4 7 10

In [15]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [18]:
name = "python"
for i in name:
    print(i)

p
y
t
h
o
n

In [19]:
for i in [1,2,3,4,5,6]:
  print(i)

1
2
3
4
5
6

In [20]:
for i in (1,2,3,4,5,6):
  print(i)

1
2
3
4
5
6

In [21]:
for i in {1,2,3,4,5,6}:
  print(i)

1
2
3
4
5
6

In [23]:
#nested for loop

for i in range(1,6,3):
    for j in range(1,6):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
4 1
4 2
4 3
4 4
4 5

In [24]:
x = 10000
for i in range(10,0,-1):
    print(i,x)
    x=x/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [28]:
x = int(input("enter the number of rows: "))
for i in range(1,x+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the number of rows: 12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *

#### Loop Control Statement

1.   break
2.   continue
3.   pass

In [29]:

# break

for i in range(1,21):
    if i==15:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [33]:
x = "madism"
for i in x:
    if i=="s":
        break
    print(i)

m
a
d
i

In [34]:
#continue

for i in range(1,21):
    if i==15:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20

In [38]:
name = "I like your name"
for i in name:
    if i==" ":
        continue
    print(i ,end="")

Ilikeyourname

In [40]:
#pass

for i in range(1,11):
    pass

In [41]:
def fun():
    pass