## List Comperhension

1.   simple to write
2.   more effecient

In [ ]:
##     List comperhension
 #    syntax : [expression for item in list]

[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[i*j for i in [4,5,6,9] for j in [1,2,3,4]]

[4, 8, 12, 16, 5, 10, 15, 20, 6, 12, 18, 24, 9, 18, 27, 36]

In [ ]:
[i==j for i in "madhu" for j in [1,2,3,4,5]]

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [ ]:
#zip function
l = [1,2,3,4,5]
m = [6,7,8,9,10]
list(zip(l,m))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [ ]:
zip(l,m)

In [ ]:
# scalar multiplication

v = [1,8,95,9]
c = -3
l =[]
for i in v :
   result = c*i
   l.append(result)
print(l)

[-3, -24, -285, -27]

In [ ]:
l = [ i*c for i in v]
print(l)

[-3, -24, -285, -27]

In [ ]:
l = [i**2 for i  in range(0,5)]
print(l)

[0, 1, 4, 9, 16]

In [ ]:
#find the name which start with m

l = ["abhi","ram","reddy", "madhu","malli"]
m = [i for i in l if i.startswith("m")]
print(m)

['madhu', 'malli']

In [1]:
l1 = [55,66,77,88]
l2 = [99,22,33,44]

[i-j  for i,j in zip(l1,l2)]

[-44, 44, 44, 44]

In [2]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = [11,12,13,14,15]

[i+j+k for i,j,k in zip(l1,l2,l3)]

[18, 21, 24, 27, 30]

In [3]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = [11,12,13,14]

print(zip(l1,l2,l3))

<zip object at 0x7b108dd45600>